# Data Science Tools and Ecosystem

### Summary of tools and Ecosystens used in Data Science

**Objectives:**

1. List the most popular languages used in Data Science
2. Lists some of the libraries used by data scientists
3. Show how to perform simple arithmetic operations in python

#### *List of top languages used in Data Science*

- Python
- R
- SQL

#### *Some of the most used libraries in Data Science are:*

- Numpy
- Pandas
- Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| GitHub             |

### *Below are some arithmetic expressions used in Python*

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author:
Felipe Wallace Cordeiro Muniz